.hiddenslide {
	display: none;
}

body.page {
	padding-top: 0;
	overflow: visible;
}

.section {
	clear: left;
}

.gallerySelector {
	margin-top: 60px;
}

.bar {
	float: none;
	width: 22px;
}

div:hover > ul > li > .bar p {
	opacity: 1;
} 

li:hover > .bar p {
	opacity: 1;
}

.serviceItem {
	display: inline-block;
}

.serviceInfoWrap {
	background: none;
}

.accordion-heading {
	cursor: pointer;
	display: block;
	margin: 10px 0;
	background: #222;
	border-radius: 6px;
	border-left: 3px solid #7B133C;
}

.accordion-heading a {
	display: block;
	color: #FFF;
	outline: none;
	padding: 10px;
	text-decoration: none;
	font-size: 24px;
}

.accordion-inner {
	padding: 5px 13px 20px 13px;
}

.hide {
	display: none;
}

#supersized-loader {
	display: none;
}

.gmap-wrap {
	height: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-in-out;
}

#google-map {
	height: 300px;
	max-width: 100%;
	width: 100%;
}

span.sectionTitle {
	border-bottom: 1px solid #333;
	display: block;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 10px;
	padding: 26px 0 6px;
}

h3 br {
	display: none;
}

.dateWrap{
	z-index:20;
}

.bypostauthor > .comment-body p{
	color:#bbb;
}

.serviceItem {
	display: block;
}

.thumbText {
	color: #fff;
}

.post img {
	max-width: 100%;
	height: auto;
}

.homepage .container {
	height: 100%;
}

.post.sticky .post-title{
	background-color:#7B133C;
}

.post.sticky .post-title h2{
	padding:0 20px;
}

.post.sticky .post-title h2,
.post.sticky .post-title h2 a{
	color:#fff;
}

.post.sticky .post-title h2 a:hover{
	color:#eee;
}


.post-pager .pager .previous{
	float:left;
}

.post-pager .pager .next{
	float:right;
}

.post-pager .pager > li > a{
	padding:4px 10px;
	color:#fff;
	background-color:#7B133C;
}

.post-pager .pager > li > a:hover{
	background-color:#333;
	color:#fff;
}

.mclearfix {
	clear: both;
}

.mb_YTVPBar {
	padding: 0;
}

.flexslider .slides li {
	margin: 0 !important;
}

.flexslider li {
	list-style: none;
}